@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.ArkPayServer.Helpers
@using NArk.Swaps.Models
@using NBitcoin
@inject ArkNetworkConfig ArkNetworkConfig
@model IEnumerable<BTCPayServer.Plugins.ArkPayServer.Data.Entities.ArkSwap>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-sm mb-0">
            <thead>
                <tr>
                    <th text-translate="true">Swap ID</th>
                    <th text-translate="true">Type</th>
                    <th text-translate="true">Amount</th>
                    <th text-translate="true">@(ViewData["TimeColumnLabel"] ?? "Created")</th>
                    <th text-translate="true">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var swap in Model)
                {
                    var boltzSwapLink = ArkadeLinkHelper.GetBoltzSwapLink(ArkNetworkConfig.BoltzUri, swap.SwapId);
                    
                    <tr>
                        <td>
                            <vc:truncate-center text="@swap.SwapId" link="@boltzSwapLink" classes="truncate-center-id"/>
                        </td>
                        <td>
                            @if (swap.SwapType == ArkSwapType.ReverseSubmarine)
                            {
                                <span class="badge text-bg-primary">Reverse</span>
                            }
                            else
                            {
                                <span class="badge text-bg-info">Submarine</span>
                            }
                        </td>
                        <td>@Money.Satoshis(swap.ExpectedAmount).ToDecimal(MoneyUnit.BTC) BTC</td>
                        <td>
                            @if (ViewData["UseTimeAgo"] as bool? ?? false)
                            {
                                @swap.CreatedAt.ToTimeAgo()
                            }
                            else
                            {
                                @swap.CreatedAt.ToBrowserDate()
                            }
                        </td>
                        <td>
                            @{
                                var swapclass = swap.Status switch
                                {
                                    ArkSwapStatus.Pending => "text-bg-info",
                                    ArkSwapStatus.Settled => "text-bg-success",
                                    ArkSwapStatus.Failed => "text-bg-danger",
                                    _ => "text-bg-warning"
                                }; 
                            }
                            
                            <span class="badge @swapclass">@Enum.GetName(typeof(ArkSwapStatus), swap.Status)</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
