@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.ArkPayServer.Helpers
@using NBitcoin
@inject ArkNetworkConfig ArkNetworkConfig
@model IEnumerable<BTCPayServer.Plugins.ArkPayServer.Data.Entities.VTXO>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-sm mb-0">
            <thead>
                <tr>
                    <th text-translate="true">Outpoint</th>
                    <th text-translate="true">Amount</th>
                    <th text-translate="true">@(ViewData["TimeColumnLabel"] ?? "Seen")</th>
                    <th text-translate="true">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vtxo in Model)
                {
                    var outpoint = ArkadeLinkHelper.FormatOutpoint(vtxo.TransactionId, (uint)vtxo.TransactionOutputIndex);
                    var link = ArkadeLinkHelper.GetIndexerLinkForVtxo(ArkNetworkConfig.ArkUri, vtxo.TransactionId, (uint)vtxo.TransactionOutputIndex);
                    var showLink = ViewData["ShowLinks"] as bool? ?? true;
                    
                    <tr>
                        <td>
                            @if (showLink)
                            {
                                <vc:truncate-center link="@link" text="@outpoint" classes="truncate-center-id"/>
                            }
                            else
                            {
                                <vc:truncate-center text="@outpoint" classes="truncate-center-id"/>
                            }
                        </td>
                        <td>@Money.Satoshis(vtxo.Amount).ToDecimal(MoneyUnit.BTC) BTC</td>
                        <td>
                            @if (ViewData["UseTimeAgo"] as bool? ?? false)
                            {
                                @vtxo.SeenAt.ToTimeAgo()
                            }
                            else
                            {
                                @vtxo.SeenAt.ToBrowserDate()
                            }
                        </td>
                        <td>
                            @if (vtxo.SpentByTransactionId != null)
                            {
                                <span class="badge text-bg-secondary">Spent</span>
                            }
                            else if (vtxo.Recoverable)
                            {
                                <span class="badge text-bg-warning">Recoverable</span>
                            }
                            else
                            {
                                <span class="badge text-bg-success">Unspent</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
