@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Components.QRCode
@inject IScopeProvider ScopeProvider
@model BTCPayServer.Plugins.Arkade.Models.ArkReceiveViewModel
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    var returnUrl = Url.Action("StoreOverview", "Ark", new { storeId });
    Layout = "_LayoutWizard";
    ViewData.SetTitle("Receive ARK");
}

@section PageHeadContent
{
    <link href="~/main/qrcode.css" rel="stylesheet" asp-append-version="true" />
}

@section Navbar {
    <a href="@returnUrl" id="CancelWizard" class="cancel">
        <vc:icon symbol="cross" />
    </a>
}

<header class="text-center">
    <h1 class="mb-4">@ViewData["Title"]</h1>
</header>

<form method="post" asp-action="Receive" asp-route-storeId="@storeId">
    @if (string.IsNullOrEmpty(Model.Address))
    {
        <div class="payment-box mb-3">
            <button id="generateButton" class="btn btn-primary w-100" type="submit" name="command" value="generate-address">
                Generate receive address
            </button>
        </div>
    }
    else
    {
        var paymentLink = $"bitcoin:?ark={Model.Address}";
        <noscript>
            <div class="form-group">
                <input type="text" class="form-control" readonly="readonly" value="@Model.Address" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" readonly="readonly" value="@paymentLink" />
            </div>
        </noscript>
        <div class="nav flex-wrap align-items-center justify-content-center gap-2 mb-4">
            <a class="btcpay-pill active" data-bs-toggle="tab" href="#address-tab">Address</a>
            <a class="btcpay-pill" data-bs-toggle="tab" href="#link-tab">Link</a>
        </div>
        <div class="only-for-js col-sm-10 col-xxl-8 mx-auto" id="app">
            <div class="tab-content text-center">
                <div class="tab-pane payment-box show active" id="address-tab" role="tabpanel">
                    <div class="qr-container" data-clipboard="@Model.Address">
                        <vc:qr-code data="@Model.Address" />
                    </div>
                    <div class="input-group mt-3">
                        <div class="form-floating">
                            <vc:truncate-center text="@Model.Address" padding="15" elastic="true" classes="form-control-plaintext" id="Address" />
                            <label for="Address">Address</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane payment-box" id="link-tab" role="tabpanel">
                    <div class="qr-container" data-clipboard="@paymentLink">
                        <vc:qr-code data="@paymentLink" />
                    </div>
                    <div class="input-group mt-3">
                        <div class="form-floating">
                            <vc:truncate-center text="@paymentLink" padding="15" elastic="true" classes="form-control-plaintext" id="PaymentLink" />
                            <label for="PaymentLink">Payment Link</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment-box">
            <div class="mt-4">
                <button type="submit" name="command" value="generate-address" class="btn btn-primary w-100">
                    Generate another address
                </button>
            </div>
        </div>
        <p class="text-muted small text-center mt-3 mb-0">Address auto-deactivates once funds arrive</p>
    }
</form>
