@using BTCPayServer
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.ArkPayServer
@using BTCPayServer.Plugins.ArkPayServer.Services
@using NArk.Services.Abstractions
@using NBitcoin
@using NArk.Contracts
@using NArk.Services
@model BTCPayServer.Plugins.ArkPayServer.Models.ArkStoreWalletViewModel
@inject IScopeProvider ScopeProvider
@inject IOperatorTermsService Terms
@inject ArkConfiguration ArkConfiguration
@inject ArkVtxoSynchronizationService ArkVtxoSyncronizationService
@{
  
    Layout = "Views/UIStores/_LayoutWalletSetup";
    var storeId = ScopeProvider.GetCurrentStoreId()!;
    ViewData.SetActivePage("Ark", "Arkade Payments", "Ark");
string connectionStatus = "Unknown";
var mainnet = true;
Network network = Network.Main;
    try
    {

        var terms = await Terms.GetOperatorTerms();
        var subStatus = ArkVtxoSyncronizationService.IsActive;
        connectionStatus = subStatus ? "Active" : "Inactive";
        mainnet =  terms.Network.ChainName == ChainName.Mainnet;
        network = terms.Network;
    }
    catch (Exception ex)
    {
        connectionStatus = ex.Message;
    }

   
}


<h1 class="text-center mt-n2 text-center" title="@connectionStatus">@ViewData["Title"]</h1>


<form asp-action="SetupStore" method="post" asp-route-storeId="@storeId">
    <div>
        
        @if (!string.IsNullOrEmpty(Model.WalletId))
        {
            <div class="form-group mb-3">
                <label asp-for="WalletId" class="form-label">Wallet Id</label>
                <div class="d-sm-flex">
                    <input asp-for="WalletId" class="form-control" readonly/>
                </div>
                
                <span asp-validation-for="WalletId" class="text-danger"></span>
                <div class="form-text">
                    
                </div>
                
            </div>
            @if (!string.IsNullOrEmpty(Model.Destination ) || Model.Wallet is not null)
            {
                <div class="form-group mb-3">
                    <label asp-for="Destination" class="form-label">Destination</label>
                    <div class="d-sm-flex">
                        <input asp-for="Destination" class="form-control" readonly="@(Model.Wallet is null)"/>
                    </div>
                
                    <span asp-validation-for="Destination" class="text-danger"></span>
                    <div class="form-text">
                        Ark address to sweep any detected VTXOs to.
                    </div>

                </div>
            }
            
            @if (Model.Wallet != null)
            {
                <div class="form-group mb-3">
                    <label asp-for="Wallet" class="form-label">Wallet</label>
                    <div class="d-sm-flex">
                        <input asp-for="Wallet" class="form-control" readonly/>
                    </div>
                
                </div>
            }
            
            
        }
        else
        {
            <div class="form-group mb-3">
                <label asp-for="Wallet" class="form-label"></label>
                <div class="d-sm-flex">
                    <input asp-for="Wallet" class="form-control" placeholder="npub.."/>
                </div>


                <span asp-validation-for="Wallet" class="text-danger"></span>
                <div class="form-text">
                    Configure your BTCPay Ark wallet in various ways:
                    <ul>
                        <li>Enter an nsec private key to use it as a hot wallet.</li>
                        <li>Enter an Ark address to generate a transitory wallet that automatically sweeps to it.</li>
                        <li>Enter an existing wallet id from this BTCPay instance to use its configuration.</li>
                        <li>Leave blank to generate a new hot wallet.</li>
                    </ul>
                </div>
            </div>
            
        }
        
      
    </div>
    
    <div class="text-start mt-4">
        @if (string.IsNullOrEmpty(Model.WalletId)){
            <button  name="command" type="submit" value="configure" class="btn btn-primary   me-2" text-translate="true">
                Configure
            </button>
            
           
        }
        else if (Model.Wallet is not null)
        {
            <button  name="command" type="submit" value="save" class="btn btn-primary   me-2" text-translate="true">
                Save
            </button>
        }
        @if (!string.IsNullOrEmpty(Model.WalletId) && !Model.LNEnabled){
            <button name="command" type="submit" value="enable-ln" class="btn btn-primary me-2">Enable Lightning</button>
        }
        @if (!string.IsNullOrEmpty(Model.WalletId))
        {
            <button name="command" type="submit" value="poll-scripts" class="btn btn-outline-primary me-2">Refresh Balance</button>
            <button name="command" type="submit" value="clear" class="btn btn-outline-danger me-2">Clear</button>
      
        }
        @if (Model.Wallet is not null)
        {
            <input type="hidden" name="payment" id="payment"/>
            <input id="spendbtn" name="command" type="submit" value="spend" style="display:none"/>
            <button onclick="var payment = prompt('Enter a BIP21/LN invoice to send to:'); if (payment) document.getElementById('payment').value = payment; document.getElementById('spendbtn').click(); "  class="btn btn-outline-secondary me-2">Spend</button>
            
        }
    </div>
</form>
@if (Model.Wallet is not null && Model.Contracts?.Any() is true)
{
    <h2 class="text-center mt-5 mb-3">Contracts</h2>

    <div class="table-responsive">
        <table id="contracts" class="table table-hover">
            <thead >
            <tr>

                <th text-translate="true" class="text-nowrap">Address</th>
                <th text-translate="true" class="text-nowrap">Contract</th>
                <th text-translate="true" class="text-nowrap">Active</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            @foreach (var group in Model.Contracts)
            {
                var arkContract = ArkContract.Parse(group.Key.Type, group.Key.ContractData, network);

                var link = $"{ArkConfiguration.ArkUri}/v1/vtxos?scripts={arkContract.GetArkAddress().ScriptPubKey.ToHex()}";
                <tr>

                    <td>
                        <vc:truncate-center link="@link" text="@arkContract.GetArkAddress().ToString(mainnet)" classes="truncate-center-id"/>
                    </td>

                    <td>
                        <vc:truncate-center text="@arkContract.ToString()" classes="truncate-center-id"/>
                    </td>
                    <td>
                        @if (group.Key.Active)
                        {
                            <span class="text-success" text-translate="true">Active</span>
                        }
                        else
                        {
                            <span class="text-danger" text-translate="true">Inactive</span>
                        }
                    </td>
                    <td>
                        
                    </td>

                </tr>
                @if (group.Value.Any())
                {
                    <tr class="bg-light rounded">

                        <td colspan="3" class="border-top-0 w-100">
                            <div style="max-height: 300px; overflow-y: auto; overflow-x: hidden; ">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th text-translate="true">Outpoint</th>
                                    <th text-translate="true">Received Time</th>
                                    <th text-translate="true">Spent</th>

                                    <th text-translate="true" class="text-end">Amount</th>

                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var vtxo in group.Value)
                                {
                                    var outpoint = vtxo.TransactionId + ":" + vtxo.TransactionOutputIndex;
                                    var link2 = $"{ArkConfiguration.ArkUri}/v1/indexer/vtxos?outpoints={outpoint}";

                                    <tr >
                                        <td>
                                            <vc:truncate-center link="@link2" text="@outpoint" classes="truncate-center-id"/>

                                        </td>
                                        <td>@vtxo.SeenAt.ToBrowserDate()</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(vtxo.SpentByTransactionId))
                                            {
                                                <span class="text-success" text-translate="true">Unspent</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger" text-translate="true">Spent</span>
                                            }
                                        </td>

                                        <td class="payment-value text-end text-nowrap">
                                            <span data-sensitive class="text-success">@vtxo.Amount sats</span>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            </div>

                        </td>
                    </tr>
                }
                @if(group.Key.Swaps.Any())
                {
                    <tr>
                        <td colspan="3" class="border-top-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th text-translate="true">Swap</th>
                                    <th text-translate="true">Status</th>
                                    <th text-translate="true">Invoice</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var swap in group.Key.Swaps)
                                {
                                    <tr>
                                        <td>
                                            @swap.SwapId
                                        </td>
                                        <td>
                                            @swap.Status
                                        </td>
                                        <td>
                                            <vc:truncate-center text="@swap.Invoice" classes="truncate-center-id"/>

                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
}